[2019-05-17 12:17] rscharer opened #1 "NPE for lightweight tags"
When at least one repository tag is lightweight, GitUtil throws an NPE on line 39. The object is peeled, but there is no peeled id.

[2019-05-17 12:55] rscharer commented on #1
Filed a PR

[2019-05-17 18:53] qoomon commented on #1
Hi, tanks for reporting. I will fix it during the weekend.

[2019-05-17 19:50] rscharer commented on #1
Thanks for merging the fix so quickly, and for the great plugins!

[2019-05-17 20:02] #1 closed

[2019-05-17 20:06] qoomon commented on #1
published version 1.0.2 -> https://plugins.gradle.org/plugin/me.qoomon.git-versioning

[2019-06-07 05:43] carl-adams-symc opened #3 "Using ${version} in a versionFormat with any other macro results in multiple expansion in sub-project"
Using ${version} in a versionFormat with any other macro results in multiple expansion.

For example, with the following configuration:
[code]

With a project where in the root build.gradle.kts has the following:
[code]

on the master branch, version is "0.1" as expected, but on a feature branch like "features/myuser/myfeature" the version is set to "0.1_myuser_myfeature_myuser_myfeature", where I

[2019-06-07 20:37] carl-adams-symc commented on #3
work-around is to simply expand the version in the format, like this:
`versionFormat = "${version}" + '_${user}_${feature}'`

[2019-06-13 11:49] qoomon commented on #3
thanks for the bug report will have look at the weekend

[2019-06-16 12:30] qoomon commented on #3
hmm, any ideas how to solve this?

[2019-06-16 13:18] qoomon commented on #3
I've just release version 1.0.3
This version will add the `:version` to all projects.
You should add and configure the plugin only in the root `build.gradle`
For me it works quite nice then.

[2019-06-16 14:55] #3 closed

[2019-08-10 07:31] xnike opened #4 "Failed to use tag versioning on master in 1.2.1"
I'd like to use tag versioning and commit versioning as failback ( appropriate version descriptions were created in build.gradle), but as per code review repoSituation.getHeadBranch() will return 'master' on master branch, so tag branch will never be executed:

[code]
So following calling of gradle will always use commit versioning:
[code]

By the way, 1.2.1 was not pushed into the github reposito

[2019-08-11 13:29] qoomon commented on #4
I will investigate.
Hmm damn it I formatted my pc and I think I might lost the fix in version 1.2.1 :-/
Anyway thanks for pointing this out.

[2019-08-11 13:43] qoomon commented on #4
regarding your problem, you are right currently it does not work this way, however I may can refactor it make this working also.

With current version you need to be in a detached head state to make VERSIONING_GIT_TAG be recognised or just checkout your tag `git checkout YOUR_TAG`and then you don't even need to provide `VERSIONING_GIT_TAG` variable at all.

[2019-08-11 14:13] xnike commented on #4
Thank you. I saw that tag versioning will work in GitLab CI on tag hook.

I just experimented with this plugin and found that behavior is different from the statement "Or tag name is provided by environment variable or command line parameter". That why I filled a bug.

[2019-08-11 15:08] qoomon commented on #4
Oh I see, this is misleading. If it's fine for you I would leave it as it is and just update the readme

[2019-08-11 15:19] qoomon commented on #4
I've just fixed it was an easy one :-D see version 1.2.3
please confirm expected behaviour

[2019-08-11 15:35] xnike commented on #4
Yes, thank you.
Works fine with tag passed as parameter and environment variable, detached head state on checking out by tag.

[2019-08-11 15:35] #4 closed

[2019-10-17 12:31] jens-meiss opened #5 "LATEST version could not be found"
The 'LATEST' version couldn't be found, but version 1.2.3 can be found. Is the LATEST in another plugin repository?

[code]

[2019-10-17 12:35] jens-meiss opened #6 "CI/CD documentation outdated (wrong env. var. names)"
it looks like the documentation wasn't updated after renaming the environment variables:

* version 1.2.3
* https://github.com/qoomon/gradle-git-versioning-plugin#cicd

[code]

[2019-10-17 19:11] qoomon commented on #6
oh that's right, fixed it.

[2019-10-17 19:12] #6 closed

[2019-10-17 19:42] qoomon commented on #5
Gradle does not support `LATEST` version functionality.
Gradle should support `+` as a placeholder for latest version, however this does not work for plugin version, only for dependency versions.
Long story short I just replaced `LATEST` version with most recent release version`1.2.3`.

[2019-10-17 19:42] #5 closed

[2019-10-30 13:01] jens-meiss opened #7 "Add a Kotlin DSL example"
Hi, maybe it's a good idea to add a Kotlin DSL example to the documentation.
I got it working with this setup:

**build.gradle.kts**
[code]

Didn't found a better or easier to read example so far ... :-/

[2019-10-31 13:57] qoomon commented on #7
cool, thanks for this example will integrate it into readme file

[2019-10-31 14:05] #7 closed

[2019-12-03 16:43] nixel2007 opened #8 "Get computed version"
Hello.

If would be great if this plugin will provide a method to get computed "version" as gradle-git-version-calculator does.
I use this version to set some manifest properties.

[2019-12-03 17:29] qoomon commented on #8
Actually there is a gradle task already [`gradle :version -q`](https://github.com/qoomon/gradle-git-versioning-plugin/blob/master/README.md#gradle-tasks)

[2019-12-03 17:41] nixel2007 commented on #8
How it can be used inside gradle file?

In current gradle-file I can calculate version, path it to `version` project-property
https://github.com/1c-syntax/bsl-language-server/blob/3feb71eb65613faa697a1b4736a22ae9fee136b5/build.gradle.kts#L22

and use it after, at jar-task:

https://github.com/1c-syntax/bsl-language-server/blob/3feb71eb65613faa697a1b4736a22ae9fee136b5/build.gradle.kts#L96

[2019-12-03 17:43] nixel2007 commented on #8
With your plugin `archiveVersion.get()` is `null`. `project.version` is deprecated and leads to archiveVersion also

[2019-12-03 19:06] qoomon commented on #8
That's an interesting problem. I think I understand why it behaves like this, however I think I need to do a little refactoring to make this work.
I will do so after my vacation in mid december .

[2019-12-03 19:19] nixel2007 commented on #8
Ok, thank you!

[2019-12-06 14:30] jens-meiss commented on #8
hi, before i create a new ticket, my propsal is maybe also relevant here, the final version is only available after the project evaluation, i had to move my repository config in this block to get the right repo selected (based on the version, which contains "-SNAPSHOT" in my case, if build from a branch)

if i do it outside the `afterEvaluate` block the version is not set

Kotlin DSL:
[code]

[2019-12-10 20:33] qoomon commented on #8
I've implement a solution, however it is a breaking change.
From my perspective there is no better solution possible. I also played with mixin on root project, but that causes a kinda quirky configuration.
I came up with the following solution.
[code]

[2019-12-10 20:33] qoomon commented on #8
I've just release version `2.1.0` it uses following syntax now
[code]

[2019-12-11 16:57] nixel2007 commented on #8
kotlin dsl snippet:

[code]

[2019-12-11 16:58] nixel2007 commented on #8
Thanks, everithing works fine (except changed `branch` config and `closureOf<GitVersioningPluginConfig>` part)

[2019-12-11 18:33] qoomon commented on #8
Oh damn it.I will fix it tomorrow.

[2019-12-12 15:32] qoomon commented on #8
should be fixed now in version `2.1.1`

[2019-12-12 15:34] #8 closed

[2019-12-13 18:42] nixel2007 opened #9 "Placeholder - number of commits after tag and/or parent branch"
Hello.

Have your ever thought about placeholders with numbers after some events?

Like `5 commits after last tag in current branch` or `5 commits from "parent" branch`?

it could be usefull in feature-branches to determinate "freshness" of the build or range from main-branch. also for develop branch - to see progress from last release. and so on.

[2019-12-14 00:00] qoomon commented on #9
I had these thought too, however I'd like to create immutable versions.
That means no commit history is involved, because a tag could change generated version in terms of distance to last commit.
I think it is better to use the build number of a CI system to indicate freshness.
Actually a commit distance has no more information than a build number.
WDYT?

[2019-12-14 00:01] qoomon commented on #9
however I am open minded to add this feature if it is really valuable.

[2019-12-14 11:35] nixel2007 commented on #9
Besides CI-builds I also use local builds from IDE for manual testing or quick public testing in closed chat with other devs. My library/app compiles in less than 30 seconds, so it really easier to test some things locally like integration tests or testing in real work process than wait 10 minutes from Travis or github actions, download jar, etc...
Also while developing I have a lot of builds in b

[2019-12-14 15:04] qoomon commented on #9
Well okay, I'd like to implement your feature.
Do you have any idea how a configuration could look like
or is it fine to just have a count placeholder since the last annotated tag, ex. `${commit.distance}`

[2019-12-14 18:44] nixel2007 commented on #9
Yeah, just a placeholder should be enough for this.

What do you think about distance to parent branch?

[2019-12-14 21:08] qoomon commented on #9
maybe distance to tag or parent branch whatever is closer to current commit?
This would handle the situation if you only work on master without branching.
WDYT?

Last issue what should the placeholder resolve to if you don't find a tag or parent branch.
This could happen if you do a clone with the `--depth` option with a depth of 1 for example.
Should it resolve to nothing or to `unknown` or shoul

[2019-12-14 22:19] nixel2007 commented on #9
Cool!

I think that the 'unknown' is a good "middle" solution. We don't break the build and say "something's gonna wrong" to dev.

[2020-02-26 15:11] AnakinPt opened #10 "Using the computed version in another task"
I'm trying to use this plugin to generate different versioning for my software, mainly docker images.

When I just added the recommended configuration to my gradle plugin, I get jars with the commit.version in the name, as expected, but I don't know how I can use this same version in different tasks, mainly a copy task and to docker (plantir plugin) so I can create images with this version as the

[2020-02-26 21:21] qoomon commented on #10
Hi, may you can provide an simple example project/configuration?

[2020-02-26 21:26] AnakinPt commented on #10
I would say something simple:

docker {
    name "${project.name}"
    tag 'local', 'hello-service:latest'
    tag 'localVersion', "hello-service:${version}"
    dockerfile file("src/main/docker/Dockerfile.jvm")
}
 I would like to use thecalculated version in the place of the $version.

[2020-02-26 22:44] qoomon commented on #10
May you provide a complete project. A temporary example git repo would be great.

[2020-02-26 23:09] qoomon commented on #10
Do you run `gitVersioning.apply {...}` before `docker {...}` within your `build.gradle` file?
You need to apply versioning configure `docker {...}` because this configuration is evaluated right away so a changes of variables afterwords will have no effect on that configuration.

[2020-02-27 11:58] AnakinPt commented on #10
Great. That was my problem. I had the apply at the end of the file. Thanks. May I suggest you add this as a recommendation in the documentation? The apply should be immediately after the declaration of the version.

Thanks

[2020-02-27 11:58] #10 closed

[2020-09-08 18:30] SerVB opened #11 "Licence"
Hey, thanks for publishing this project. Please say under which license can community use it.

[2020-09-08 19:26] qoomon commented on #11
done, see [LICENCE](https://github.com/qoomon/gradle-git-versioning-plugin/blob/master/LICENSE) file

[2020-09-08 19:26] #11 closed

[2021-02-16 07:00] cpatchett-iqbo commented on #9
I'd also like to see this, with the option to specify a base branch and use {tag.distance} or {base.distance}.

[2021-02-16 18:42] qoomon commented on #9
well so even I wouldn't use it I may can add this feature. However we need to think about how and where to configure base branch or tag pattern.
I think it should be configurable for each branch/tag/commit definition and globally.

**proposal** - groovy
[code]

[2021-02-16 18:43] qoomon commented on #9
maybe you have a better idea for the `base` wording.

[2021-02-16 18:45] qoomon commented on #9
I updated my proposal and replaced base with just distance

[2021-02-27 19:16] nixel2007 opened #13 "Can't find `CommitVersionDescription` after upgrade to 4.0.0 with kotlin dsl"
Hello. I have problems with plugin upgrading from 3.0 to 4.0.
Gradle (kotlin dsl) can't find `CommitVersionDescription` and fails on script compilation.

PR with upgrade: https://github.com/1c-syntax/bsl-language-server/pull/1544
Build logs: https://github.com/1c-syntax/bsl-language-server/pull/1544/checks?check_run_id=1977036787
build.gradle.kts: https://github.com/1c-syntax/bsl-language-server/b

[2021-02-28 06:57] qoomon commented on #13
Hi, sorry for the inconvenience.

I now use `VersionDescription`  for  branches, tags, and commit description, so I removed `CommitVersionDescription ` in favor of `VersionDescription`.

[2021-02-28 07:01] qoomon commented on #13
I've added a BREAKING CHNAGE note to version `4.0.0` in `CHANGELOG.md`

[2021-02-28 07:07] qoomon commented on #13
see [this PR](https://github.com/1c-syntax/bsl-language-server/pull/1576) for the fix.

[2021-02-28 07:52] nixel2007 commented on #13
Thanks a lot!

I think this readme section should be upgraded then - https://github.com/qoomon/gradle-git-versioning-plugin#kotlin-dsl-buildgradlekts-1

[2021-02-28 07:52] #13 closed

[2021-02-28 09:10] qoomon commented on #13
Thx for the hint. Readme has been updated.

[2021-03-02 00:34] survivant opened #14 "update guide to include Jenkins pipeline example"
could it be possible to add a section in the guide : How to add that to our project in Jenkins pipeline ?

I'm using jenkins in Kubernetes.  We could use a maven-agent, but don't know how to package the extension in it, or maybe use a global library and call it from our pipeline.

I would like to call that script to update my pom.xml version when I receive a webhook about a new branch was created.

[2021-03-02 21:46] qoomon commented on #14
Are you looking for the maven version extension or gradle plugin?

[2021-03-02 22:05] survivant commented on #14
sorry,  when I was writing this issue,  I had in mind groovy (because you can define a global library and it could be use into a Jenkins pipeline) and not gradle.. my bad.   but the rest is valid for maven.  I'll close that issue and open it in maven plugin

[2021-03-02 22:05] #14 closed

[2021-05-29 15:13] jens-meiss opened #24 "Kotlin DSL documentation leads to Unmatched closing ')'"
if i just copy and paste the example from the README.md
* https://github.com/qoomon/gradle-git-versioning-plugin#kotlin-dsl-buildgradlekts-1

i get a `org.gradle.internal.exceptions.LocationAwareException`

i think it's because the pattern for the "/pull" prefix is invalid:
[code]

leads to: `Unmatched closing ')' near index 6 pull/.+)`

think it should be like:
[code]

works for me at least :D

-

[2021-05-30 18:40] qoomon commented on #24
Hi hi, thanks for reporting. You are right thats's a typo. I will fix it right away.

[2021-05-30 18:40] #24 closed

[2021-06-16 08:24] oliverbrandt opened #27 "GitVersioningPluginTest.runVersionTask fails on Windows"
This failure is due to the different line endings.

[2021-06-16 09:31] #27 closed

[2021-06-16 13:32] oliverbrandt opened #29 "Configuring updateGradleProperties has no effect"
When configuring updateGradleProperties directly in the apply block, this setting is never considered.
As the VersionDescription is inialized with updateGradleProperties set to false, the method GitVersioningPluginExtension.getUpdateGradlePropertiesFileOption is always left without considering the property in GitVersioningPluginConfig.

[2021-06-28 13:46] #29 closed

[2021-07-12 09:26] Infeligo opened #33 "Document that this plugin should be applied at the root project"
I accidentally applied it via `allprojects` block and got this error:

[code]

So apparently, when applied to the subproject, this plugin searches for the root project and adds `version` task to it. In case of multiple projects, it attempts to add the same task twice.

[2021-07-15 14:18] qoomon commented on #33
@Infeligo could you create a PR for the `README.md` file?

[2021-07-30 11:38] jens-meiss opened #34 "GitLab CI global variable definiton"
another documentation improvement for https://github.com/qoomon/gradle-git-versioning-plugin#gitlab-ci-setup

instead of defining the version env variables for each job or using the before_script block, it is possible to define them as "global" variables:

[code]

this way the job execution is a bit faster, since the before_script havn't to be executed, if there is nothing else in it and the varia

[2021-07-31 10:48] qoomon commented on #34
@jens-meiss uh nice I'll add this

[2021-07-31 23:35] qoomon commented on #34
@jens-meiss I think I'll add nativ support for github actions and gitlab ci environment variables in next major release, so there will be no need to set and export variables anymore

[2021-08-01 07:54] jens-meiss commented on #34
hehe, this is what i thought while i read your first response: maybe just test if the gitlab CI_ variables exist and use them directly, than we can skip the definition at all 👍 :D

[2021-08-06 13:05] jens-meiss opened #35 "limit the version string length by configuration"
is there a way to limit the generated version string?

situation:

* use a verry descriptive branch name
* try to deploy the generated version to a kubernetes cluster
* deployment failed, because labels are limited to 63 characters
** https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

example:

version of a branch with a verry long branchname: `MY-T

[2021-08-06 19:00] qoomon commented on #35
you could achieve this by regex group in the branch pattern e.g. `(?<significant_branch_name>.{1,32}).*` and then just use `${significant_branch_name}-SNAPSHOT`

[2021-08-17 08:16] qoomon commented on #34
will pe part of version `5.0.0` release

[2021-08-17 09:14] qoomon commented on #35
@jens-meiss is this a suitable solution for you?

[2021-08-17 09:14] #34 closed

[2021-08-17 09:16] qoomon commented on #9
Version `5.0.0` has been released. It support git describe feature including commit distance to a tag, see https://github.com/qoomon/gradle-git-versioning-plugin#placeholders -> ${describe.distance}

[2021-08-17 09:17] #9 closed

[2021-08-17 09:17] #35 closed

[2021-08-17 09:17] jens-meiss commented on #35
ah nice, maybe add it to the docs , thx :)

[2021-08-17 09:25] qoomon commented on #33
done.

[2021-08-17 09:25] #33 closed

[2021-08-20 01:47] ForestHC opened #39 "Project property does not exist"
in readme, there are provided project properties (git.commit, git.ref ...)

I use the property "git.commit" like this.
`attributes "Implementation-Version": project.property("git.commit")`

but after update from 4.3.0 to 5.0.0, i got this gradle error
[code]

4.3.0 works well.

[2021-08-20 06:16] qoomon commented on #39
Hi @ForestHC, sorry for the inconvenience I'll have a look and probably release a fix today

[2021-08-20 06:47] qoomon commented on #39
could you provide an example `build.gradle` file that results in that error, because I can't reproduce this error. My `build.gradle` looks like
[code]

[2021-08-20 07:30] ForestHC commented on #39
I think i found the reason. It seems like the error raised when there is no 'rev' configuration.

this cause error
[code]

and this is ok
[code]

[2021-08-20 08:32] qoomon commented on #39
ah yes in case of no ref is matching and no rev defined the whole plugin execution is skipped.

Some suggestions to fix that behavior
* I could provide these git properties regardless of ref and rev config
* I could make rev config mandatory

WDYT?

[2021-08-20 11:01] ForestHC commented on #39
I solved it by adding the rev option to project. so I think you can do it the way you want.
I prefer first and third option.

[2021-08-20 11:03] #39 closed

[2021-09-08 06:51] nixel2007 opened #40 "considerTagsOnBranches works only if tags config is before branch config"
Hello!
Plugin version 5.1.0.

$subject :)

You can check this two commits:
1) initial setup after upgrading from 4.x version: https://github.com/1c-syntax/bsl-language-server/blob/7001455067a182e4fb85795ea437ca43d92d5f5e/build.gradle.kts#L30-L44 (`develop` branch some time ago)
If you checkout develop pointing to this commit, try to put some tag (like `v123`) and run `./gradlew jar`, you'll see th

[2021-09-08 07:25] qoomon commented on #40
Hi @nixel2007 this behaviour is intended so you have full control over which tag config should overrule branch config. In other words first matching config wins, if you set `considerTagsOnBranches = true` also tag configs are taken into account.

[2021-09-08 07:41] nixel2007 commented on #40
ah, i see. I think, examples in readme should be updated then or at least this behavior (first config wins) should be noticed in considerTagsOnBranches property description.

[2021-09-08 11:17] qoomon commented on #40
It is documented already.

`README.md`
...
- `refs` List of ref configurations, ordered by priority. First matching configuration will be used.
    - `considerTagsOnBranches` By default, tags pointing at current commit will be ignored if HEAD is attached to a branch.
     - If this option is `true` tags will always be taken into account.

...

[2021-09-08 11:20] nixel2007 commented on #40
ah... my bad. i think issue can be closed then

[2021-09-08 11:22] qoomon commented on #40
np

[2021-09-08 11:22] #40 closed

[2021-09-08 11:23] nixel2007 commented on #40
@qoomon should I send PR with swapped ref sections? `.+` regex in `branch` blocks `tags` regex

[2021-09-08 11:27] qoomon commented on #40
@nixel2007 I tried to make is a little bit more obvious

`README.md`
...
- `refs` List of ref configurations, ordered by priority.
    - ℹ First matching configuration will be used.

...

[2021-09-08 11:29] qoomon commented on #40
@nixel2007 every PR is welcome

[2021-12-29 17:36] bonivi opened #57 "author timestamp & commiter timestamp"
Currently properties like commit.timestamp, commit.timestamp.year uses the commit author date (the date when commit was originally made). Can you add a new properties which contains commit date (the date when the commit is being modified)
To keep compatibility with current behavior I suggest to use commit.timestamp, commit.timestamp.year and so on to track author date and  new properties like  com

[2021-12-31 12:09] bonivi opened #59 "properties.put does not set property"
properties.put does not set property

Steps to reproduce:
build.gradle
[code]

The output (some unimportant lines was deleted)

[code]

When the properties are set directly all is ok
[code]
The output
[code]

[2022-01-01 19:08] qoomon commented on #59
Hi @bonivi, thanks for the report.

Actually I'm not a Groovy expert. Maybe you have an idea why this is. Have a look at https://github.com/qoomon/gradle-git-versioning-plugin/blob/master/src/main/java/me/qoomon/gradle/gitversioning/GitVersioningPluginConfig.java#L58

[2022-01-03 05:50] qoomon commented on #59
Strange it does not happen with Gradle KotlinDSL

[2022-01-03 11:32] qoomon commented on #59
I got the problem: this behaviour is because of the field name `properties` this field gets hidden by groovy generated field `properties` therefore the `properties.put()` adds to some different map.  If I rename the variable it works as expected.

[2022-01-03 13:52] qoomon commented on #59
WDYT? should I just add an alias for `properties` e.g. `properties_`?

[2022-01-03 13:55] qoomon commented on #59
however I think the easiest way would be to just use
[code]

[2022-01-03 14:35] qoomon commented on #59
I've just released version `5.1.2`
* new special `properties_` field to work around `properties` name conflict of `groovy.lang.MetaClass`
* adjusted README
  * `properties` A property definitions to update the value of a property.
        - `name` The property name
        - `value` The new value format of the property, see [Format Placeholders](#format-placeholders)
           <br>
          **gr

[2022-01-03 14:39] #59 closed

[2022-01-04 08:32] qoomon commented on #57
What do you think about following approach?
* ${commit.authorDate.timestamp}
* ${commit.authorDate.[format]} e.g. ${commit.authorDate.[format]}
* commit.commitDate.timestamp
* ${commit.commitDate.[format]} e.g. ${commit.commitDate.[format]}

[2022-02-06 14:33] DagobertDokate opened #64 "Error in gradle configuration with 5.1.3"
When i update from 5.1.1 to 5.1.2 or 5.1.3 i get the following error:

Caused by: java.lang.NoClassDefFoundError: org/gradle/util/internal/ConfigureUtil
	at me.qoomon.gradle.gitversioning.GitVersioningPluginExtension.apply(GitVersioningPluginExtension.java:66)
	at me.qoomon.gradle.gitversioning.GitVersioningPluginExtension$apply.call(Unknown Source)

[2022-02-06 16:12] qoomon commented on #64
I"ll investigate.

[2022-02-06 16:33] qoomon commented on #64
@DagobertDokate which gradle version do you use?

[2022-02-06 18:25] qoomon commented on #64
@DagobertDokate please try version `5.1.5`

[2022-02-07 20:11] DagobertDokate commented on #64
It works with gradle 7.2 and agp 7.1.1 =)

[2022-02-07 20:29] #64 closed

[2022-04-18 14:07] skitou opened #69 "Gradle not accepting the version from the plugin"
I used the default exemple:

[code]

When building/run i got this error message:

![image](https://user-images.githubusercontent.com/38993289/163820024-3e80e45d-9e52-4f3b-8c4d-350b1a90826c.png)

[2022-04-18 14:33] qoomon commented on #69
@skitou could you provide an most simple project to reproduce this error (preferable as a comment with a zip attached)?

[2022-04-26 08:08] aSemy opened #70 "Request: replace string-based templating with lambda parameters, so I can programatically create the version"
At the moment the version is constructed based on a static string template. The plugin will do a find/replace in the `version` string for format placeholders, and replace them with existing format placeholder values.

However I would like to dynamically select the version, based on the format placeholder values. For example:

If `CODEBUILD_WEBHOOK_TRIGGER` is not available, then use the 'ref' plac

[2022-04-26 12:53] qoomon commented on #70
Hi @aSemy , this is a very interesting idea. This plugin is a clone of the maven git versioning extension, that is why it has static templating, however I really like your approach it is much more gradle like. I'll try to implement it this way and release a new major version within the next month

[2022-04-26 12:56] qoomon commented on #70
regarding your other point, `ℹ First matching configuration will be used.` from top to bottom. Does that help?

[2022-04-26 19:45] qoomon commented on #70
@aSemy I haven't found a way to implement your idea with the Action class nor any alternative. Do you have an clue for a solution?

[2022-04-26 20:26] aSemy commented on #70
Ah I thought the Action class was a significant Gradle object, but thinking about it, it's not. It just needs to be a lambda parameter. In Kotlin it would be

[code]

I forget what the Java interface is, but you could always define your own. I think it would be something like this.

[code]

I think that will be fine, and would be compatible with the Gradle task avoidance way of working.

If it wou

[2022-04-26 20:30] aSemy opened #71 "Clarify docs on ordered selection"
I thought I'd make a new ticket, because my first question was more than just a quick answer and I didn't want to clog up the discussion :)

Ah I think I understand my confusion now. Does the ordering refer to just the `refs {}` and `rev {}` blocks? Are the contents of the `refs {}` block also ordered? Because the example in the README...

[code]

To me it looks like `branch(".+")` matches everyth

[2022-04-27 05:52] qoomon commented on #70
@aSemy I'm totally on your side i switched to Kotlin some years ago also :-), however I was too lazy to convert this project. So yes I am interested in converting it. One Requirement would be that it will still works within groovy gradle files.

[2022-04-27 06:02] qoomon commented on #71
Logic is as follow:
* if git HEAD is attached to a branch
  * if `refs { considerTagsOnBranches = false }` (`false` is the default value)
    *  find first matching `branch(...) {...}` config by branch name regex, in the order they're defined (top to bottom)
  * if `refs { considerTagsOnBranches = true }`
    * find first matching `branch(...) {...}` or `tag(...) {...}` config by branch/tag name r

[2022-04-27 06:04] qoomon commented on #70
I'll try to implement it in Java and then I'll migrate the project to kotlin

[2022-04-27 07:33] qoomon commented on #70
your approach would work, however it would lead to a ugly syntax like
[code]

[2022-04-27 08:25] aSemy commented on #70
Ah I see... I'll see if I can make a draft PR as a demo.

I think using `@HasImplicitReceiver` is the start of improving it

[code]

in Gradle this would be used like this

[code]

I think this can probably make it work. But thinking about it this situation is probably a good fit for Gradle's 'NamedDomainObjectContainers' https://docs.gradle.org/current/userguide/custom_gradle_types.html#collectio

[2022-05-08 15:06] qoomon commented on #71
I'll close this issue for now. Feel free to reopen this issue.

[2022-05-08 15:06] #71 closed

[2022-05-08 15:07] qoomon commented on #69
@skitou I need more details to fix your issue. I'll close the issue for now, feel free to reopen it.

[2022-05-08 15:07] #69 closed

[2022-05-12 23:33] nkiesel opened #73 "[6.1.0] `./gradlew version` fails with "invalid provided ref nkiesel/main/StringBuilder - needs to start with refs/""
I wanted to add the branch name to my version.  I started with
[code]
in a repo where the current branch name is `nkiesel/main/StringBuilder`, but that fails with "invalid provided ref nkiesel/main/StringBuilder -  needs to start with refs/". If I replace `.+` with `m.+` (i.e. the pattern no longer matcheds the current branch name), `./gradew version` works and prints
[code]
I tried different bran

[2022-05-13 06:48] qoomon commented on #73
It looks like you set parameter `-Dgit.ref` or  environment variable `VERSIONING_GIT_REF`.
If you do so you need to provide a valid ref path, these starts always with `refs/` see `git show-ref --heads`
If you just want to provide a branch name use `-Dgit.branch` or `VERSIONING_GIT_BRANCH`

[2022-05-13 15:36] nkiesel commented on #73
I don't think so: `env | grep GIT` returns nothing in my shell, and I simply call `./gradew version` w/o any parameters.

[2022-05-13 17:09] nkiesel commented on #73
I think I narrowed it down to multi-module setups. As soon as I include a line like `include "util"` in `settings.gradle`, ./gradlew version` fails with that error message.  My test `build.gradle` for this is
[code]
and my `settings.gradle` is
[code]
I'm using Gradle 6.9.2 for this.

[2022-05-13 17:38] nkiesel commented on #73
sample project.  Looks like the problem is the `allprojects`, not the `include`.
[BN.zip](https://github.com/qoomon/gradle-git-versioning-plugin/files/8689811/BN.zip)

[2022-05-13 21:18] qoomon commented on #73
you should call following code only once and outside of `allprojects {}` because `gitVersioning.apply {}` already set version for all projects.

[code]

[2022-05-13 21:19] qoomon commented on #73
as I mentioned in the README

[2022-05-14 02:47] nkiesel commented on #73
So what do I do if different modules in the same repo follow different version number approaches?

[2022-05-14 02:48] nkiesel commented on #73
In the example above this makes no sense and I should simply move it out of the allprojects block. But I also have more complicated setups.

[2022-05-14 06:00] qoomon commented on #73
Currently there is no support for individual versioning.

[2022-05-14 06:02] qoomon commented on #73
However I'll consider to refactor this behavior

[2022-05-14 08:48] qoomon commented on #73
I release a fix, so it should work within `allProjects` block, however for now the versioning `.apply()` will always be applied to all sub projects as well.

[2022-05-14 08:48] qoomon commented on #73
try version `6.1.1`

[2022-05-15 19:24] nkiesel commented on #73
Thanks. Will try next week ( just caught Covid-19)

[2022-05-16 06:04] qoomon commented on #73
Get well soon

[2022-06-02 14:32] aSemy opened #76 "JVM compatibility error in buildSrc"
Hi, I've just updated to v6.1.1 and I'm getting an error

[code]

I see this changed in this commit: https://github.com/qoomon/gradle-git-versioning-plugin/commit/4a7d96383d10692a00889ae8a8d64045d255d94e

I've set the plugin in my `buildSrc/build.gradle.kts`

[code]

I've set similar options for the subprojects that have the Kotlin JVM plugin.

I'm not quite sure what's wrong. I've tried a few opt

[2022-06-02 21:01] qoomon commented on #76
Thanks for reporting.

[2022-06-03 06:28] qoomon commented on #76
Version 6+ needs java 11 to work probably

[2022-06-03 13:01] aSemy commented on #76
I'm using IntelliJ, and the SDK is set to JDK11

![image](https://user-images.githubusercontent.com/897017/171858721-4b2cb8bc-53dd-40c9-9160-ac69b167106e.png)

I think because the Gradle Git Versioning plugin has `targetCompatibility = JavaVersion.VERSION_11` it's producing bytecode that is only compatible with Java 11+. I'm using buildSrc and the `kotlin-dsl` plugin, which has a maximum source co

[2022-06-03 14:39] qoomon commented on #76
I could try to change my target compatibility to 1.8

[2022-06-03 15:01] qoomon commented on #76
please try version `6.1.2` I've changed target compatibility to 1.8

[2022-06-03 15:09] aSemy commented on #76
Yes it's working now, thanks very much!

[2022-06-03 15:10] #76 closed, assigned to qoomon

[2022-06-07 08:26] m4tx opened #77 "${describe.tag} behaviour inconsistent with $(git describe)"
`${describe.tag}` chooses the first tag in the alphabetical order, instead of the latest one, like `git describe` does.

**Steps to reproduce:**
1. Create tag `a`
2. Create tag `b`
3. Use the following git versioning config:
[code]

**Actual behaviour:**
`./gradlew :version` returns `a`. `git describe` returns `b`.

**Expected behaviour:**
`./gradlew :version` returns `b`.

Tested on the plugin ve

[2022-06-08 05:27] qoomon commented on #77
could you share your git commands?
[code]

[2022-06-08 08:23] m4tx commented on #77
Sure, here you go:

[code]

[2022-06-09 13:40] qoomon commented on #77
I think I've fixed it. I'll probably release a fixed version tomorrow.

[2022-06-10 06:04] qoomon commented on #77
feel free to try version `6.1.3`

[2022-06-10 06:37] qoomon commented on #77
Feel free to reopen this issue, if bug still occurs

[2022-06-10 06:37] #77 closed

[2022-06-10 07:01] #57 closed

[2022-06-20 14:06] uli-f opened #81 "error message: Object [full hash of commit] is not a commit."
Hi,

first of all: thanks a lot for your gradle plugin. So far, it did exactly what I needed!

Now, however, I experience an error when executing the plugin as part of my build.gradle:
[code]

This error pops up in my CI build on github and started once I did the following:
- **pre-released** a version v0.0.X
- edited said version v0.0.X and changed it to a **release**

I searched the internet for

[2022-06-20 15:25] qoomon commented on #81
Thanks for reporting. Could you upload a most simple project to reproduce the error? Or the command steps to reproduce it on my own.

[2022-06-20 18:11] qoomon commented on #81
And the whole stacktrace would be nice `gradle --stacktrace ...`

[2022-06-21 02:28] uli-f commented on #81
Thanks for your reply.

I tried to reproduce the error by creating an annotated tag in the local copy of the the repo with the git command:
`git tag -a v0.0.86 -m "test message goes here"`
However, I wasn't able to reproduce the error that way.

I was only able to reproduce it by carrying out certain actions in the GitHub Web UI:
- create a pre-release, tag is v0.0.87
`2736cce28f8c8d51ab8e09e1b898

[2022-06-21 11:00] qoomon commented on #81
the error in the stacktrace says  "Object 2736cce28f8c8d51ab8e09e1b898b4fcceef4a3f is not a tag" is that the right stacktrace, because you reported "Object ... is not a commit"

[2022-06-22 07:54] qoomon commented on #81
I'll try to fix it this weekend

[2022-06-23 20:13] qoomon commented on #81
@uli-f could you produce the error locally after you run `git pull` after you created the pre-releases at github?

[2022-06-24 09:10] Florianisme opened #82 "Plugin does not detect merged tags"
Consider the following git branch and merge history:

![image](https://user-images.githubusercontent.com/7106869/175503157-39752226-d252-46ec-ad4c-09a1a3bb5a5c.png)

`git describe --tags` correctly returns the merged 1.1.0 tag, however running the plugin with `gradlew version -q` only detects the initial 0.0.1 tag.

[2022-06-24 18:44] qoomon commented on #82
Hi thanks for reporting. Currently it is the behaviour of `git describe --tags --first-parent` I'll try to implement `git describe --tags`

[2022-06-25 09:52] qoomon commented on #82
It is more complicated than I thought. There a several  if I don't follow `--first-parent` only.
* Versioning gets strange if a tag `v2` is set on main branch and you merge a branch with a tag `v1`
  * which tag should be used?
  * the nearest one, the latest one or the one with the highest version number (split and sort by dots)?

I think the most stable solution is to have the current behaviour

[2022-06-25 17:34] Florianisme commented on #82
Can you make it configurable then?
I use tagging in my projects like I described earlier so I sadly can't use this otherwise great plugin.

[2022-06-26 19:43] qoomon commented on #81
Feel free to give version `6.1.6` a try

[2022-06-27 02:00] uli-f commented on #81
Just tried to re-produce the issue with 6.1.6 and it works perfectly fine now!

I tagged the same commit twice using the GitHub web UI to first pre-release tagging with `v0.0.93` and then modifying that release by changing it from pre-release to a release and re-tagging it with `v0.0.94`:
`commit 4c06c832c3b3a1d5e9d0441de8ef53386c5f983d (HEAD -> main, tag: v0.0.94, tag: v0.0.93, origin/main, origi

[2022-06-27 07:28] #81 closed

[2022-06-27 07:29] Florianisme commented on #82
Yes that would fit my usecase!
Can the "next"-(major, minor, patch) feature be applied to that aswell? I found that super useful.

[2022-07-01 12:54] qoomon commented on #82
It is harder to implement than I thought. Any support is welcome. I need to copy and modify following functions to search for all first reachable tags on all branches and select the the one with the highest version (this is the simple part and can be done by org.apache.maven.artifact.versioning.DefaultArtifactVersion) https://github.com/qoomon/gradle-git-versioning-plugin/blob/dff52bbf17af073683ed

[2022-07-01 20:27] Florianisme commented on #82
Somthing I threw together this evening as a super dirty proof-of-concept:

[code]
Seems to work with the one Unit tests thats testing this method.

[2022-08-09 17:08] luccas-freitas opened #88 "Does it work with Java 8?"
I'm getting this error:

`org/eclipse/jgit/storage/file/FileRepositoryBuilder has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0`

[2022-08-09 20:20] qoomon commented on #88
No Java 8 is not supported anymore.

[2022-08-10 09:38] qoomon commented on #88
actually it should be working with java 8 see https://github.com/qoomon/gradle-git-versioning-plugin/blob/1f4c857ae57315b4faf67a7196a27a879351c24b/build.gradle#L16

[2022-08-10 09:39] qoomon commented on #88
Which version do you use?

[2022-08-10 09:44] qoomon commented on #88
Oh it's a problem with the external dependency `jgit`

[2022-08-10 09:47] qoomon commented on #88
See https://git.eclipse.org/r/c/jgit/jgit/+/174128, so there is no support for java 8 anymore.

[2022-08-10 12:18] stempler commented on #88
Version 5.2.0 still works with Java 8

[2022-08-10 12:48] qoomon commented on #88
yes because it uses an older `jgit` version that was build with java 8.

However java 8 is out of support and therefore I'm not planning to support java 8 any longer, sorry.

[2022-08-10 12:50] #88 closed

[2022-08-20 10:11] manticore-projects opened #89 "How to define the <VERSION> pattern."
Greetings!

I have a hard time to figure out how to get the Version correctly:
[code]

[code]

Does not match the ``branch`` and falls back to ``rev`` only.
I assume, that ``<version>`` expects a `x.y.z` format, while I have only a `x.y` format. How can I change that?

[2022-08-20 11:59] manticore-projects commented on #89
I have tried this one, did not work:
[code]

Its actually seems to be easier to call GIT directly per `EXEC` and to parse the output -- which is a shame.

[2022-08-20 13:00] manticore-projects commented on #89
This one gives me exactly what I want and need (although I still could simply the pattern matching using raw Groovy):

[code]

[2022-08-21 10:21] qoomon commented on #89
Hi @manticore-projects, I'd be glad if I can help you, however I don't get what is your issue.

First of all `describeTagPattern` is unnecessary, because it only effects `${describe....}` placeholders.

I assume you want following config
[code]

[2022-08-21 10:24] manticore-projects commented on #89
Thank you! I will try.

[2022-08-21 10:25] qoomon commented on #89
Or to match the behaviour of your  GIT example:

[code]

[2022-08-21 10:28] manticore-projects commented on #89
This looks good -- but I completely fail to understand that from the documentation.
I will try asap. Thank you again!

[2022-08-21 14:35] qoomon commented on #89
If I works, it would be nice if you can provide some better explanation for the parts that were hard to understand in the readme

[2022-08-22 12:52] jarzyna63 opened #90 "describe.tag.version.major couses java.lang.NullPointerException when none tag fit to pattern"
There is a problem in newly created repository where is none any tags. When I try to use ${describe.tag.version.major:-0} I receive:
[code]

My configuration:
[code]

Good to have opportunity to use default value in this case.

[2022-08-23 03:29] qoomon commented on #90
Hi @jarzyna63, I totally agree I'll try to add a fallback values for describe placeholders e.g. `0.0.0` .
As a workaround just add a version tag to the initial commit e.g `v0.0.0`

BTW you should not set `rev` (fallback) `version` to a static value like this
[code]
You should rather use a version including the commit hash to create a unique version e.g. `version='${commit}'`

[2022-08-23 08:32] qoomon commented on #90
@jarzyna63 could you provide a simple test project, because I can't reproduce your null pointer exception.

[2022-08-26 07:50] qoomon commented on #90
and which version do you use?

[2022-10-16 19:57] ericmaino commented on #89
I think that my recent changes in  #94 and what will be version 6.4.0+ might address this.

Specifically this [commit](https://github.com/qoomon/gradle-git-versioning-plugin/commit/7ff25e7033635642e25c4c5ac1ccdfe8c69de56c)

Note that as far as I can tell `describeTagPattern` is more like a filter constraint, than an override pattern. It constrains which tags are considered, but overall tags must s

[2022-10-17 18:56] ericmaino commented on #90
Attempted to reproduce this myself and cannot. @jarzyna63 [here is attempt to repro](https://github.com/qoomon/gradle-git-versioning-plugin/compare/master...ericmaino:gradle-git-versioning-plugin:issue-90) of your issue.

If you can provide a stack or confirm the issue is fixed happy to help resolve.

[2022-10-18 12:15] qoomon commented on #90
@jarzyna63 I'll close this stale issue for now. Feel free to reopen it.

[2022-10-18 12:15] #90 closed

[2022-10-24 07:37] qoomon commented on #89
feel free to try version`6.3.4`

[2022-10-24 07:37] #89 closed

[2022-10-24 22:33] aSemy opened #99 "Improve compatibility with Gradle Configuration Cache"
I have [Gradle Configuration Cache](https://docs.gradle.org/current/userguide/configuration_cache.html) enabled. When I run `./gradlew version` I get a warning.

[code]

This is because of the use of a Gradle Project instance during execution-time

https://github.com/qoomon/gradle-git-versioning-plugin/blob/1451423195a9b70b3350b887b08e4bcd684abf49/src/main/java/me/qoomon/gradle/gitversioning/Versi

[2022-10-25 10:41] qoomon commented on #99
sounds reasonable.

[2022-10-25 11:16] qoomon commented on #99
Can you provide the commands to reproduce the problem?

However I think I was able to solve your problem by moving the logic to `doLast`

[code]

[2022-10-25 14:43] aSemy commented on #99
`doLast {}` won't work :)

To produce make sure that you have Gradle configuration cache enabled https://docs.gradle.org/current/userguide/configuration_cache.html#config_cache:usage:enable

I've set it in `gradle.properties`:

[code]

[2022-10-25 15:56] qoomon commented on #99
final fix was quite simple :-)
[code]
feel free to try version `6.3.5`

[2022-10-25 15:56] #99 closed

[2022-10-25 16:03] aSemy commented on #99
Yup that works! Thanks!

[2022-10-25 16:08] aSemy commented on #70
hey @qoomon, how would you feel about picking this up again? :) I'd like to help out. I can start by converting the Gradle config to Kotlin?

[2022-10-25 16:24] qoomon commented on #70
@aSemy oh that would be awesome.

[2022-10-25 23:02] aSemy commented on #70
I have done some pondering and I think the best way forward is to essentially create a new version by changing gradle-git-versioning-plugin to be a Gradle Settings plugin.

https://stackoverflow.com/questions/69149466/gradle-7-2-how-to-apply-a-custom-gradle-settings-plugin

[code]

This has some advantages.

1. the git version can be determined *before* the projects are configured
2. the version o

[2022-10-26 08:02] aSemy opened #104 "How to configure previous tag + -SNAPSHOT using GitHub Actions?"
I've tried setting it up but it keeps selecting main-SNAPSHOT

build.gradle.kts config: https://github.com/Kantis/ks3/blob/ee42e3cd3be08dc3c12563c8c5f04d8aa0ae0507/build.gradle.kts#L8-L20

[code]

Here's the GHA, trigged from a commit on the main branch: https://github.com/Kantis/ks3/actions/runs/3327175830

There is a tag, v0.0.1, on main branch https://github.com/Kantis/ks3/releases/tag/v0.0.1

[2022-10-26 12:45] qoomon commented on #70
@aSemy sounds great I was not aware of Gradle Settings plugins

[2022-10-26 12:55] qoomon commented on #104
Hi I think there a several issues with that setup:
* the `refs.tag` config will not be considered if HEAD is attached to a branch.
  * set `considerTagsOnBranches` to `true` if you want tags to be considered
* the first matching `refs...` config  will be used. In your case the branch config will be selected even if you make use of `considerTagsOnBranches`

I hope that helps, otherwise get in touch

[2022-10-26 12:58] qoomon commented on #104
btw your checkout fetch all config is not needed. This is only needed if you like to use `${describe}` placeholders.

[2022-10-26 15:00] aSemy commented on #104
So I can remove the 'fetch all step' because I'm not using `${describe}`

[code]

and I'll try setting `considerTagsOnBranches = true`

[2022-10-28 11:20] aSemy commented on #104
Yes you're right, what I was asking for didn't really make sense!

[2022-10-29 21:58] #104 closed